name = "video-downloader"
compatibility_date = "2024-09-23"
compatibility_flags = ["nodejs_compat"]
pages_build_output_dir = ".vercel/output/static"

[vars]
# Add public vars here if needed. Secrets go in dashboard.
